body{
    background-color: #0F172A;
    font-family: "Roboto",sans-serif;
    color: #fff;
    .presentation{
        .pres-div{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .progress-p{
                color: #818CF8;
                font-weight: 500;
                text-align: center;
                line-height: 110%;
                font-size: 20px;
            }
            .shapes{
                margin-top: 80px;
                margin-bottom: 80px;
            }
            .progress-h2{
                font-weight: 800;
                font-size: 72px;
                line-height: 110%;
                text-align: center;
                margin: 0;
            }
            .desc-pres-p{
                font-size: 18px;
                line-height: 160%;
                text-align: center;
                margin: 32px 0;
            }
            .btns-pres{
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: row;
                gap: 16px;
                .start{
                    display: flex;
                    padding: 10px 46px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 8px;
                    border: 1px solid #6366F1;
                    background: #6366F1;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 24px;
                    color: #fff;
                    cursor: pointer;
                }
                .more-info-pres{
                    display: flex;
                    padding: 10px 46px;
                    border-radius: 8px;
                    border: 1px solid #334155;
                    background: #334155;
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 500;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
        .partners{
            .partners-h2{
                text-align: center;
                font-size: 24px;
                line-height: 110%;
                font-weight: 700;
            }
            .partners-imgs{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 80px;
                margin: 80px 0;
            }
        }
    }
    .projects{
        justify-content: center;
        align-items: center;
        .project-desc{
            margin-bottom: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .project-h1{
                font-size: 56px;
                font-weight: 800;
                line-height: 110%;
                text-align: center;
                .purple-h1{
                    color: #818CF8;
                    text-align: center;
                }
            }
            .project-p{
                font-size: 18px;
                line-height: 160%;
            }
        }
        .desc-project{
            display: flex;
            justify-content: center;
            gap: 80px;
            // max-width: 600px;
            .desc{
                justify-content: center;
                align-items: center;
                .desc-project-h2{
                    font-size: 48px;
                    line-height: 110%;
                    font-weight: 800;
                    margin: 0 0 32px 0;
                    .purpled{
                        color: #818CF8;
                    }
                }
                .desc-project-p{
                    font-size: 18px;
                    line-height: 160%;
                    max-width: 600px;
                }
            }
            .imgs-desc{
                display: flex;
                flex-direction: column;
                gap: 8px;
                .pictures-row-1{
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    .picture-1{
                        margin-bottom: -30px;
                    }
                }
                .pictures-row-2{
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    margin-left: -50px;
                    .picture-3{
                        margin-bottom: -30px;
                    }
                }
            }
        }
    }
    .example{
        justify-content: center;
        align-items: center;
        .example-desc{
            padding: 80px 80px 387px 80px;
            background: #4F46E5;
            .example-desc-h1{
                text-align: center;
                font-size: 48px;
                font-weight: 800;
                line-height: 110%;
            }
            
            
        }
        .example-pic{
                display: flex;
                justify-content: center;
                align-items: center;
                .img-example{
                justify-self: center;
                display: flex;
                margin-top: -320px;
            }
            }
    }
    .tools{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 80px;
        margin: 80px 0;
        .imgs-tools{
            display: flex;
            flex-direction: column;
            align-items: center;
            .solo-row-pic{
                .pic-tools-1{
                    max-height: 288px;
                    margin-left: -200px;
                    max-width: 485px;
                }
            }
            .row-pic{
                flex-direction: row;
                display: flex;
                .pic-tools-2{
                    margin-left: -130px;
                    max-height: 288px;
                    margin-top: -10px;
                }
                .pic-tools-3{
                    max-height: 243px;
                }
            }
        }
        .desc-tools{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .h1-tools{
                font-size: 48px;
                line-height: 110%;
                font-weight: 800;
                .purple-tools{
                    color: #818CF8;
                }
            }
            .p-tools{
                font-size: 18px;
                font-weight: 400;
                line-height: 160%;
                max-width: 600px;
            }
            .ul-tools{
                align-items: center;
                justify-content: center;
                .li-tools{
                    list-style-image: url(../imgs/check.png);
                    align-items: center;
                    justify-content: center;
                }
            }
            .btn-tools{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 26px;
                border-radius: 8px;
                border: 1px solid #6366F1;
                background: #4F46E5;
                color: #fff;
                font-weight: 500;
                font-size: 20px;
                cursor: pointer;
            }
        }
    }
    .management{
        display: flex;
        flex-direction: row;
        gap: 80px;
        justify-content: center;
        align-items: center;
        margin: 80px 0;
        .desc-management{
            .h1-manage{
                font-size: 48px;
                font-weight: 800;
                line-height: 110%;
                .purple-management{
                    color: #818CF8;
                }
            }
            .p-manage{
                font-size: 18px;
                font-weight: 400;
                line-height: 160%;
            }
            .ul-manage{
                .li-manage{
                    list-style-image: url(../imgs/check.png);
                }
            }
            .btn-manage{
                padding: 10px 24px;
                border-radius: 8px;
                border:1px solid #6366F1;
                color: #fff;
                background: #4F46E5;
            }
        }
    }
    .graphic-div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 80px 0;
        .graphic{
        display: flex;
        padding: 64px 0 64px 64px;
        border-radius: 20px;
        border: 1px solid #475569;
        flex-direction: row;
        gap: 20px;
        .graphic-text{
            display: flex;
            flex-direction: column;
            align-items: start;
            .graphic-h2{
                font-size: 32px;
                line-height: 110%;
                font-weight: 700;
            }
            .graphic-p{
                font-size: 18px;
                line-height: 160%;
                font-weight: 400;
            }
            .graphic-btn{
                padding: 12px 24px;
                border-radius: 8px;
                border: 1px solid #475569;
                background: #334155;
                color: #fff;
                font-size: 20px;
                line-height: 24px;
                font-weight: 500;
            }
        }
    }
    }
    .control{
        display: flex;
        flex-direction: row;
        background-color: #1E293E;
        padding: 80px 0px 0px 80px;
        gap: 80px;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
        .text-control{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: -100px;
            .h1-control{
                font-size: 48px;
                font-weight: 800;
                line-height: 110%;
                margin-top: 0;
                .purple-control{
                    color: #818CF8;
                }
            }
            .p-control{
                font-size: 18px;
                font-weight: 400;
                line-height: 160%;
                margin-top: 0;
            }
            .btn-control{
                padding: 12px 24px;
                border-radius: 8px;
                border: 1px solid #6366F1;
                background: #4F46E5;
                color: #fff;
                font-size: 20px;
                font-weight: 500;
                line-height: 24px;
            }
        }
    }
    .friends{
        display: flex;
        flex-direction: column;
        padding: 80px;
        align-items: center;
        .text-friends{
            text-align: center;
            .h1-friends{
                font-size: 56px;
                font-weight: 800;
                line-height: 110%;
                .purple-friends{
                    color: #818CF8;
                }
            }
            .p-friends{
                font-size: 18px;
                font-weight: 400;
                line-height: 160%;
            }
        }
        .swiper{
            width: 1280px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 80px;
            .swiper-wrapper{
                .swiper-slide{
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 32px;
                    flex-direction: column;
                    border-radius: 20px;
                    border: 1px solid #475569;
                    background: #334155;
                    width: 325px;


                    .logo-comment{

                    }
                    .comment{
                        max-width: 320px;
                    }
                    .commentor{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 16px;
                        .avtor{
                            display: flex;
                            flex-direction: column;
                            .name{
                                margin: 0;
                            }
                            .job{
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    
}