$breakpoint_desktop: 1919px;
$breakpoint_laptop: 1439px;
$breakpoint_small_laptop: 1373px;
$breakpoint_tabletHorizontal: 1023px;
$breakpoint_tabletVertical: 767px;
$breakpoint_mobile: 424px;
$breakpoint_small_mega_mobile:335px;
$breakpoint_small_mobile:335px;
$breakpoint_for_pictures:1295px;
$breakpoint_for_footer:1173px;
$breakpoint_for_swiper:900px;
$breakpoint_for_swiper_second:697px;
$breakpoint_for_all:594px;
$breakpoint_for_swiper_final:420px;